/*********************************************
Dustin Site CSS
**********************************************/
body {
  margin-left: 50px;
  margin-top: 60px;
}

canvas {
  display: flex;
}

/* 'Dustin Finer' large Cursive */
h1 {
font-family: 'Nunito', sans-serif;
  font-size: 120px;
   line-height: 50px;
  align-items: flex-end;
}

/* Homepage Links */
h2 {
font-family: 'Nunito', sans-serif;
  font-size: 65px;
   line-height: 30px;
  color: Black;
  justify-content: flex-start;
}

/* Music Page Text */
h3 {
font-family: 'Nunito', sans-serif;
  font-size: 30px;
  color: Black;
  justify-content: flex-start;
}

/* About Page Text */
h4 {
font-family: 'Nunito', sans-serif;
  font-size: 25px;
  color: Black;
  justify-content: flex-start;
}

/* Contact Page Text */
h5 {
font-family: 'Nunito', sans-serif;
  font-size: 50px;
  line-height: 10px;
  color: Black;
  justify-content: flex-start;
}
